/* BackToTop.css */
.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(18,18,18, 0.7);
  border: 1px solid rgba(255, 255, 255, .1);
  padding: 10px 15px;
  height: 25px;
  border-radius: 50px;
  position: fixed;
  bottom: 60px;
  right: 20px;
  color: rgba(255, 255, 255, .9);
  font-size: 1rem;
  cursor: pointer;
  
  z-index: 500;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0; /* Start as invisible */
  visibility: hidden; /* Prevent interaction when invisible */

  backdrop-filter: blur(10px); /* Frosted effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
  }

.back-to-top p {
  margin: 0;
}

.back-to-top.visible {
  opacity: 1; /* Fully visible */
  visibility: visible; /* Allow interaction */
}

.back-to-top:hover {
  transform: scale(1.02);
}

.back-to-top:active {
  transform: scale(0.95);
}

@media (max-width: 450px) {
  .back-to-top {
    bottom: 50px;
    right: 10px;
    transform: scale(0.9);
  }
}
  