.fr-main-content {
    color: white; /* White text color */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Stack items vertically */
}

/* General container styling */
.fr-content {
    display: flex; /* Flexbox layout */
    flex-wrap: wrap; /* Wrap items to next line */
    justify-content: center; /* Center items horizontally */
    padding: 20px; /* Add padding for spacing */
    max-width: 960px;
    margin-left: auto; /* Center container */
    margin-right: auto; /* Center container */
}

.fr-content img:hover {
    cursor: pointer;
}

.fr-header {
    background-color: #251F1F;
    border-radius: 10px; /* Round the edges */
    border: rgba(255, 255, 255, 0.1) 1px solid; /* White border with 20% opacity */
    padding: 20px; /* Add padding for spacing */
    display: flex; /* Flexbox layout */
    flex-direction: row; /* Stack items vertically */
    box-sizing: border-box; /* Include padding and border in width calculation */
    /* transition: transform 1s ease; Smooth animation */
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 75px;
}

.arrow {
    display: inline-block; /* Ensure arrow is treated as a block */
    margin-left: 8px; /* Space between text and arrow */
    font-size: 20px; /* Adjust arrow size */
    margin-bottom: 2px;
    transition: transform 0.3s ease;
    font-weight: lighter;
}

.links a:hover .arrow {
    transform: translateX(5px); /* Move arrow to the right on hover */
}



.fr-info {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.fr-info h3 {
    color: #FF4949;
    margin-top: 10px; /* Remove top margin */
    font-size: 1.8rem; /* Adjust font size */
    margin-bottom: 0;
}

.fr-info a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
}

.fr-info b {
    font-size: 1.25rem; /* Adjust font size */
    margin-bottom: 5px; /* Add bottom margin */
}

.fr-info i {
    font-size: 1.25rem; /* Adjust font size */
}

.fr-info p {
    font-size: 1.25rem; /* Adjust font size */
    margin-top: 0px; /* Remove top margin */
    margin-bottom: 0px; /* Remove bottom margin */
    flex-grow: 1;
}

.fr-info hr {
    opacity: .5;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.fr-header img {
    display: block; /* Remove inline-block spacing */
    width: 50%; /* Make image responsive to container width */
    height: auto;
    border-radius: 10px; /* Round edges */
    object-fit: contain; /* Ensure the whole image fits without cropping */
}


  

.fr-info .links a {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #FF4949; /* Change text color on hover */
    display: inline;
    align-items: center; /* Vertically center the content */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 5px;
    position: relative; /* To position the pseudo-element */
    transition: color 0.3s ease; /* Smooth color transition */
}

.fr-desc-container {
    display: flex;
    flex-direction: column;
    text-align: center;


    width: 97%;
}

.fr-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.fr-desc-container i{
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
}

.fr-desc-container img {
    margin-top: 20px;
}

.fr-desc {
    text-align: left;
    margin-bottom: 25px;
}

.fr-desc,
.fr-desc-container img {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
}

.fr-desc-container i {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease;
}

.fr-desc.slide-up,
.fr-desc-container img.slide-up,
.fr-desc-container i.slide-up {
  opacity: 1;
  transform: translateY(0);
}

li {
    font-size: 1.1rem;
}

.fr-desc b {
    font-weight: normal;
    color: #FF4949;
}

.small-fr-desc {
    width: 450px;
}

.fr-desc h3 {
    color: #FF4949;
    margin-top: 10px; /* Remove top margin */
    font-size: 1.3rem; /* Adjust font size */
    margin-bottom: 0;
    text-align: left;
}

.fr-desc p {
    font-size: 1.1rem;
    text-align: left;
    margin-top: 10px;
}

.solution-graphic{
    width: 450px;
    align-self: center;
}

.medium-graphic {
    width: 75%;
    align-self: center;
    margin-bottom: 20px;
}

.small-graphic {
    width: 50%;
    align-self: center;
    margin-bottom: 20px;
}

.full-graphic {
    width: 100%;
    align-self: center;
    margin-bottom: 20px;
}

.table-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.table {

    display: flex;
    flex-direction: column;
    background-color: #1c1c1c; /* Dark background */
    color: white; /* White text */
    padding: 16px;
    border-radius: 10px; /* Rounded corners */
    border: 1px solid rgba(255, 255, 255, 0.1);
    max-width: 400px; /* Adjust the width as needed */
    font-size: 1.1rem;

  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
  }
  
  .label {
    font-weight: bold;
  }
  
  .value {
    margin-left: 100px;
    text-align: right;
  }
  
  .divider {
    opacity: .5;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .modal-content img {
    max-width: 80%;
    max-height: 90%;
  }
  
  .close-btn {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #1e1e1e;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
  }

@media (max-width: 960px) {
    .fr-header{
        flex-direction: column-reverse;
    }
    .solution-graphic{
        width: 100%;
    }

    .small-fr-desc {
        width: 100%;
    }

    .fr-desc {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .fr-desc-container img {
        width: 100%;
    }

    .fr-header img {
        width: 100%;
        height: 50%;
    }
    .value {
        margin-left: 20px;
        text-align: right;
      }

      .solution-graphic {
        width: 80%;
    }
}

