.rq-main-content {
    color: white; /* White text color */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Stack items vertically */
}

/* General container styling */
.rq-content {
    display: flex; /* Flexbox layout */
    flex-wrap: wrap; /* Wrap items to next line */
    justify-content: center; /* Center items horizontally */
    padding: 20px; /* Add padding for spacing */
    max-width: 960px;
    margin-left: auto; /* Center container */
    margin-right: auto; /* Center container */
}

.rq-content img:hover {
    cursor: pointer;
}

.rq-header {
    background-color: #1F2220;
    border-radius: 10px; /* Round the edges */
    border: rgba(255, 255, 255, 0.1) 1px solid; /* White border with 20% opacity */
    padding: 20px; /* Add padding for spacing */
    display: flex; /* Flexbox layout */
    flex-direction: row; /* Stack items vertically */
    box-sizing: border-box; /* Include padding and border in width calculation */
    /* transition: transform 1s ease; Smooth animation */
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.rq-info {
    margin-top: 0px;
    margin-bottom: 0px;
}

.rq-info h3 {
    color: #38B45D;
    margin-top: 10px; /* Remove top margin */
    font-size: 1.8rem; /* Adjust font size */
    margin-bottom: 0;
}

.rq-info a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
}

.rq-info b {
    font-size: 1.25rem; /* Adjust font size */
    margin-bottom: 5px; /* Add bottom margin */
}

.rq-info i {
    font-size: 1.25rem; /* Adjust font size */
}

.rq-info p {
    font-size: 1.25rem; /* Adjust font size */
    margin-top: 0px; /* Remove top margin */
    margin-bottom: 0px; /* Remove bottom margin */
    flex-grow: 1;
}

.rq-info hr {
    opacity: .5;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.rq-header img {
    display: block; /* Remove inline-block spacing */
    width: 50%; /* Make image responsive to container width */
    height: auto;
    border-radius: 10px; /* Round edges */
    object-fit: contain; /* Ensure the whole image fits without cropping */
}

.rq-info .links {
    display: flex;
    flex-direction: column; /* Stack links vertically */
    margin-top: 10px; /* Push links container to the bottom */
  }
  

.rq-info .links a {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #38B45D; /* Change text color on hover */
    display: inline;
    align-items: center; /* Vertically center the content */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 5px;
    position: relative; /* To position the pseudo-element */
    transition: color 0.3s ease; /* Smooth color transition */
}

.rq-desc-container {
    display: flex;
    flex-direction: column;
    
    width: 97%;
}

.rq-desc-container img {
    margin-top: 20px;
}

.rq-desc h3 {
    color: #38B45D;
    margin-top: 10px; /* Remove top margin */
    font-size: 1.5rem; /* Adjust font size */
    margin-bottom: 0;
}

.rq-desc p {
    font-size: 1.1rem;
}

.solution-graphic{
    width: 50%;
    align-self: center;
}

.wireframe-graphic {
    width: 100%;
    align-self: center;
    margin-bottom: 20px;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.table {
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color: #1c1c1c; /* Dark background */
    color: white; /* White text */
    padding: 16px;
    border-radius: 10px; /* Rounded corners */
    border: 1px solid rgba(255, 255, 255, 0.1);
    max-width: 400px; /* Adjust the width as needed */
    font-size: 1.1rem;

  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
  }
  
  .label {
    font-weight: bold;
  }
  
  .value {
    margin-left: 100px;
    text-align: right;
  }
  
  .divider {
    opacity: .5;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
  }

@media (max-width: 450px) {
    .rq-header{
        flex-direction: column-reverse;
    }

    .rq-header img {
        width: 100%;
        height: 50%;
    }
    .value {
        margin-left: 20px;
        text-align: right;
      }

      .solution-graphic {
        width: 80%;
    }
}