.taas-main-content {
    color: white; /* White text color */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Stack items vertically */
}

/* General container styling */
.taas-content {
    display: flex; /* Flexbox layout */
    flex-wrap: wrap; /* Wrap items to next line */
    justify-content: center; /* Center items horizontally */
    padding: 20px; /* Add padding for spacing */
    max-width: 960px;
    margin-left: auto; /* Center container */
    margin-right: auto; /* Center container */
}

.taas-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.taas-header {
    background-color: #231F25;
    border-radius: 10px; /* Round the edges */
    border: rgba(255, 255, 255, 0.1) 1px solid; /* White border with 20% opacity */
    padding: 20px; /* Add padding for spacing */
    display: flex; /* Flexbox layout */
    flex-direction: row; /* Stack items vertically */
    box-sizing: border-box; /* Include padding and border in width calculation */
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.taas-info {
    margin-top: 0px;
    margin-bottom: 0px;
}

.li {
    font-size: 1.1rem;
}

.taas-info h3 {
    color: #D04DFF;
    margin-top: 10px; /* Remove top margin */
    font-size: 1.8rem; /* Adjust font size */
    margin-bottom: 0;
}

.taas-info a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
}

.taas-info b {
    font-size: 1.25rem; /* Adjust font size */
    margin-bottom: 5px; /* Add bottom margin */
}

.taas-info i {
    font-size: 1.25rem; /* Adjust font size */
}

.taas-info p {
    font-size: 1.25rem; /* Adjust font size */
    margin-top: 0px; /* Remove top margin */
    margin-bottom: 0px; /* Remove bottom margin */
    flex-grow: 1;
}

.taas-info hr {
    opacity: .5;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.taas-header img {
    display: block; /* Remove inline-block spacing */
    width: 50%; /* Make image responsive to container width */
    height: auto;
    border-radius: 10px; /* Round edges */
    object-fit: contain; /* Ensure the whole image fits without cropping */
}

.taas-info .links {
    display: flex;
    flex-direction: column; /* Stack links vertically */
    margin-top: 10px; /* Push links container to the bottom */
  }
  

.taas-info .links a {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #D04DFF; /* Change text color on hover */
    display: inline;
    align-items: center; /* Vertically center the content */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 5px;
    position: relative; /* To position the pseudo-element */
    transition: color 0.3s ease; /* Smooth color transition */
}

.taas-desc-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 97%;
    text-align: center;
}

.taas-desc-container i{
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.taas-desc,
.taas-desc-container img {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
}

.taas-desc-container i {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease;
}

.taas-desc.slide-up,
.taas-desc-container img.slide-up,
.taas-desc-container i.slide-up {
  opacity: 1;
  transform: translateY(0);
}

.small-taas-desc {
    width: 450px;
}

.taas-desc {
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
}

.taas-desc h3 {
    color: #D04DFF;
    margin-top: 10px; /* Remove top margin */
    font-size: 1.3rem; /* Adjust font size */
    margin-bottom: 0;
}

.taas-desc p {
    font-size: 1.1rem;
    margin-top: 10px;
}

.taas-desc img {
    display: block;
    margin: 0 auto;
}

.old-system-graphic {
    width: 100%;
    align-self: center;
}

.student-lofi-graphic {
    width: 60%;
    align-self: center;
}

.prof-lofi-graphic, .manager-lofi-graphic {
    width: 80%;
    align-self: center;
}

.prototype-taas-desc img {
    width: 80%;
    align-self: center;
    margin-bottom: 20px;
}

.graph-graphic {
    width: 100%;
}

.taas-desc-container img {
    margin-top: 20px;
}

.taas-desc-container img:hover {
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .modal-content img {
    max-width: 80%;
    max-height: 90%;
  }
  
  .close-btn {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #1e1e1e;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
  }

@media (max-width: 960px) {
    .taas-header{
        flex-direction: column-reverse;
    }

    .small-taas-desc {
        width: 100%;
    }

    .taas-desc {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .taas-header img {
        width: 100%;
        height: 50%;
    }
    .value {
        margin-left: 20px;
        text-align: right;
      }

    .taas-desc-container img {
        width: 100%;
    }
}